{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="dark-theme-toggle">
  <button id="darkThemeButton">
    <img src="{% static 'img/moon.png' %}" id="icon">
    
  </button>
</div>

<div class="logo">
  <img src="{% static 'img/logo1.svg' %}" alt="Logo">
</div>
<div class="container">

  <div class="row justify-content-center">
<!-- ... Your existing HTML code ... -->

<div class="col-lg-6">
  <div class="form-container">
      <h1 class="text-center">Leave a Review</h1>
      <form method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Name</label>
              {{ form.name }}
          </div>
          <div class="form-group">
              <label for="{{ form.email.id_for_label }}">Email (Optional)</label>
              {{ form.email }}
          </div>
          <div class="form-group">
              <label for="{{ form.review_text.id_for_label }}">Review</label>
              
              {{ form.review_text }}
          </div>
          <div class="form-group">
              <label for="{{ form.rating.id_for_label }}">Rating</label>
              {{ form.rating }}
          </div>
          <div class="form-group">
            
            {{ form.captcha }}
          <div class="form-group">
              <button type="submit" class="btn btn-primary center-btn mt-3">Submit</button>
          </div>


            

        </div>
      </form>
  </div>
</div>


  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/BigSquareKenya/"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com/BigSquareKE"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/bigsquareke/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://bigsquare.co.ke/"><i class="fa-solid fa-globe"></i></a>
  </div>
</div>
{% endblock %}


