@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans+Condensed:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Styles for the dark theme toggle */
.dark-theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other content */
}
#icon{
  width: 30px;
  cursor: pointer;
}
.dark-theme-toggle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333; /* Button color in light theme */
}

/* Add styles for dark theme icon here */
.dark-theme-toggle button i {
  margin-right: 5px; /* Add some spacing between icon and text */
}

.logo {
    position:absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
body{
    font-family: 'Inter','sans-serif';
    background: var(--primary-color);
}
h1{
  color: var(--secondary-color);
}

/* ... Other CSS rules ... */

.form-container {
  border: 5px solid #E93917;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px; /* Reduce the margin for better spacing */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

  .social-icons {
    text-align: center;
    transition: color 2s ease-in-out;
    
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 5px;
    width: 60px;
    height: 60px;
   
    
  }

  .social-icons a:hover {
    transform: scale(1.1);
    color: #E93917;
  }
  .center-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;

}
.dark-theme{

  --primary-color: #000106;
  --secondary-color: #fff;


}