@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans+Condensed:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.logo {
    position:-webkit-sticky;
    top: 20px;
    left: 20px;
  }
  
  .logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
body{
    font-family: 'Inter','sans-serif';
    color: black;
    background-color: rgb(241, 241, 241);
}

.form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .form-container {
    border: 5px solid #E93917;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .social-icons {
    text-align: center;
    transition: color 2s ease-in-out;
    
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 5px;
    width: 60px;
    height: 60px;
   
    
  }

  .social-icons a:hover {
    transform: scale(1.1);
    color: #E93917;
  }
  .center-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .dark-class {
    color: white;
    background-color: rgb(12, 10, 10);
  }
  
  .toggleButton {
    width: 5rem;
    height: 2rem;
    position: fixed; /* Use fixed positioning for top-right corner */
    top: 0; /* Place it at the top of the page */
    right: 0; /* Place it at the right of the page */
    display: inline-block;
    /* Add the following lines to apply the dark theme to the button */
    color: white;
    background-color: rgb(12, 10, 10);
  }
  
  .toggleButton input {
    opacity: 0;
  }
  
  .roundButton {
    background-color: black;
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .roundButton:before {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: grey;
    transition: 1s;
    height: 2rem;
    width: 2rem;
  }
  
  input:checked+.roundButton {
    background-color: white;
  }
  
  input:checked+.roundButton:before {
    transform: translateX(3rem);
  }
  
  .roundButton.circle {
    border-radius: 2rem;
  }
  
  .roundButton.circle:before {
    border-radius: 50%;
  }
  
